@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&display=swap');


:root{
    --first-color:black;
    --second-color:white;
    --third-color: #3E8760;
    --third-alpha-color: #6BBE92;
    --font: 'Gentium Book Plus', serif;
    --font-text: 'Chakra Petch', sans-serif;
  }
html{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  *,
  *::after,
  *::before{
    box-sizing: inherit;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  body{
   
    margin: 0;
    overflow-x: hidden;
    font-weight: 400;
    font-family: var(--font);
  }
   
  h1{
    margin: 0;
    font-size: 2rem;
    color:var(--third-color);
    
  }
  h2{
    margin: 0;
    font-size: 1.5rem;
  }
  h3{
    margin: 0;
    font-size: 1.25rem;
  }
  h4{
    margin: 0;
    font-size: 1rem;
  }
  h5{
    margin: 0;
    font-size: 0.85rem;
  }
  h6{
    margin: 0;
    font-size: 0.7rem;
  }
  img{
    max-width: 100%;
    height: auto;
  }
